<!DOCTYPE html>
<html>
<head>
  <title>SevenCareers</title>
  <%= stylesheet_link_tag    "seven_careers/application", media: "all" %>
  <%= javascript_include_tag "seven_careers/application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
</html>
